<footer role="contentinfo" id="site-footer">
	<hr/>
	<img src="{{ site.url }}/images/{{ site.logo }}" style="height: 64px; margin-right: 2rem"/>
	<div style="float: right; font-size:0.68rem">
	  Post CH AG<br/>
	  Informatik<br/>
	  ICT Academy<br/>
	  Webergutstrasse 12<br/>
	  3052 Zollikofen
	</div>
  
  </footer>
  